.glossary
		{padding: 0 20px 0 20px;
		background-color: #777;
		//width: 100%;
		
		}
		
div.definition 
		{float:left;
		margin: 0px 0px 20px 0px;
		}
		
.capper
		{clear:both;
		margin-bottom: 40px;
		}
		
.definition li
		{list-style-type: none;
		padding-top: 20px;
		border: 1px solid #000;
		}
		
.def_name 
		{float:left;
		text-align: right;
		padding: 0;
		margin: 0px 0px 0px 0px;
		/*height:100px;*/
		width:200px;
		/*border: 1px solid #000;*/
		font-weight:bold;
		}
		
.def_body 
		{float:right;
		text-align: left;
		padding: 0;
		margin: 0px 0px 0px 10px;
		width:393px;
		//border: 1px solid #000;/**/
		}

p.name
		{
		}